.header {
    align-items: center;
    background-color: #ffe9ef;
    color: #ff91af;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    position: sticky;
    top: 0;
}

.title-link {
    text-decoration: none;
}

.page-title {
    color: #ff91af;
    font-family: 'pixel bold', Verdana, Geneva, Tahoma, sans-serif;
    transition: all linear 0.5s;

    &:hover {
        color: white;
        cursor: crosshair;
    }
}